 .page-wrapper {
     display: grid;
     grid-template-columns: 250px auto;
     gap: 15px;
 }
 
 .bg-gradient-primary {
     background-color: #312783;
     background-image: linear-gradient(180deg, #312783 10%, #312783 100%);
     background-size: cover;
 }
 
 .sidebar-dark .sidebar-brand {
     color: #fff;
 }
 
 .sidebar .sidebar-brand {
     height: 4.375rem;
     text-decoration: none;
     font-size: 1rem;
     font-weight: 800;
     padding: 1.5rem 1rem;
     text-align: center;
     text-transform: uppercase;
     letter-spacing: .05rem;
     z-index: 1;
 }
 
 .sidebar {
     min-height: 100vh;
 }
 
 .sidebar .nav-item {
     position: relative;
 }
 
 .sidebar .nav-item .nav-link span {
     font-size: .85rem;
     display: inline;
 }
 
 .accordion {
     overflow-anchor: none;
 }
 
 .sidebar .nav-item .nav-link {
     display: block;
     width: 100%;
     text-align: left;
     padding: 1rem;
     width: 14rem;
 }
 
 .sidebar-dark .nav-item.active .nav-link {
     color: #fff;
 }
 
 .sidebar .nav-item .nav-link i {
     width: 1.3rem;
 }
 
 .sidebar .nav-item.active .nav-link {
     font-weight: 500;
 }
 
 .sidebar-dark .nav-item .nav-link {
     color: rgba(255, 255, 255, .8);
 }
 
 .sidebar-dark .nav-item .nav-link:active,
 .sidebar-dark .nav-item .nav-link:focus,
 .sidebar-dark .nav-item .nav-link:hover {
     color: #fff;
 }
 
 .sidebar .nav-item .nav-link[aria-expanded="false"]::after {
     width: 1rem;
     text-align: center;
     float: right;
     vertical-align: 0;
     border: 0;
     font-weight: 900;
     content: '\f105';
     font-family: 'Font Awesome 5 Free';
 }
 
 .sidebar .nav-item .nav-link[aria-expanded="true"]::after {
     width: 1rem;
     text-align: center;
     float: right;
     vertical-align: 0;
     border: 0;
     font-weight: 900;
     content: '\f107';
     font-family: 'Font Awesome 5 Free';
 }
 
 .sidebar .nav-item .collapse .collapse-inner .collapse-header,
 .sidebar .nav-item .collapsing .collapse-inner .collapse-header {
     margin: 0;
     white-space: nowrap;
     padding: 0.5rem 1.5rem;
     text-transform: uppercase;
     font-weight: 800;
     font-size: .65rem;
     color: #b7b9cc;
 }
 
 .sidebar .nav-item .collapse .collapse-inner .collapse-item,
 .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
     padding: 0.5rem .5rem;
     margin: 0 0.5rem;
     display: block;
     color: #3a3b45;
     text-decoration: none;
     border-radius: 0.35rem;
     white-space: nowrap;
     -webkit-border-radius: 0.35rem;
     -moz-border-radius: 0.35rem;
     -ms-border-radius: 0.35rem;
     -o-border-radius: 0.35rem;
 }
 
 .sidebar .nav-item .collapse .collapse-inner .collapse-item:last-child {
     border-bottom: none;
 }
 
 .sidebar .nav-item .collapse .bg-white.collapse-inner {
     background-color: transparent;
 }
 
 .sidebar-dark hr.sidebar-divider {
     border-top: 1px solid #fff;
 }
 
 .sidebar hr.sidebar-divider {
     margin: 0;
     /* margin: 0 1rem 1rem; */
 }
 
 .sidebar .nav-item .collapse,
 .sidebar .nav-item .collapsing {
     margin: 0 1rem;
     position: relative;
     left: 0;
     z-index: 1;
     top: 0;
     -webkit-animation: none;
     animation: none;
 }
 
 .sidebar .collapse .collapse-inner .collapse-item.active,
 .sidebar .collapse .collapse-inner .collapse-item:hover,
 .sidebar .nav-item .collapsing .collapse-inner .collapse-item:hover {
     background-color: #eaecf4;
     color: #4e73df;
 }
 
 .sidebar a.nav-link[aria-expanded="true"] .collapse,
 .sidebar a.nav-link[aria-expanded="true"] .collapse.show {
     background-color: #42DCA3;
     font-size: 30px;
     display: block !important;
 }
 
 .sidebar .nav-item .nav-link .img-profile,
 .topbar .nav-item .nav-link .img-profile {
     height: 2rem;
     width: 2rem;
 }
 /* .dropdown  */
 
 .topbar .dropdown .dropdown-menu {
     font-size: 0.85rem;
 }
 
 .topbar .dropdown.no-arrow .dropdown-toggle::after {
     display: none;
 }
 
 .topbar .dropdown-list-image img {
     width: 50px;
 }
 
 .topbar .nav-item.dropdown .dropdown-toggle::after {
     width: 1rem;
     text-align: center;
     float: right;
     vertical-align: 0;
     border: 0;
     font-weight: 900;
     content: '\f105';
     font-family: 'Font Awesome 5 Free';
 }
 
 .topbar .nav-item.dropdown.show .dropdown-toggle::after {
     content: '\f107';
 }
 
 .topbar .dropdown-menu {
     color: #858796;
     text-align: left;
     list-style: none;
     background-color: #fff;
     background-clip: padding-box;
     border: 1px solid #e3e6f0;
     border-radius: 0.35rem;
 }
 
 .topbar .dropdown {
     position: relative;
 }
 
 .topbar .dropdown .dropdown-menu .dropdown-header {
     font-weight: 800;
     font-size: .65rem;
     color: #b7b9cc;
 }
 
 .topbar .dropdown-list .dropdown-item,
 .topbar .dropdown-list .dropdown-item {
     white-space: normal;
     padding-top: 0.5rem;
     padding-bottom: 0.5rem;
     border-right: 1px solid #e3e6f0;
     border-bottom: 1px solid #e3e6f0;
     line-height: 1.3rem;
     padding: 0.25rem 1rem;
     font-size: 14px;
 }
 
 .topbar .dropdown-list .dropdown-item .topbar .dropdown-list {
     width: 20rem !important;
 }
 
 .topbar .dropdown-list {
     padding: 0;
     border: none;
     overflow: hidden;
 }
 
 .topbar .dropdown-menu {
     position: absolute;
     top: 43px;
     right: 0;
     width: 200px;
     margin-left: auto;
 }
 
 .topbar .dropdown-list .dropdown-item .text-truncate {
     max-width: 13.375rem;
 }
 
 .topbar.navbar-light .navbar-nav .nav-item .nav-link {
     color: #d1d3e2;
 }
 
 .topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
     color: #b7b9cc;
 }
 
 .topbar .nav-item .nav-link {
     height: 3.5rem;
     display: flex;
     align-items: center;
 }